@import "../variables";
@import "../mixins";
.full {
    height: 100%;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.cert {
    padding: .75em;
    display: flex;
    justify-content: space-around;
    background-color: #2C3440;
}

.img-responsive {
    width: 147px;
    height: 143px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 20%;
    background-size: 100% auto;
}

body {
    background-color: #2C3440;
}

@include telefono() {
    .img-responsive {
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 20%;
        background-size: 100% auto;
    }
}

@include tablet() {
    body {
        min-height: 95vh;
    }
    .cert {
        padding: 1.5em 0.75em;
    }
    .grid {
        grid-template-columns: 33% 33% 33%;
        padding: 60px 60px;
    }
    #logos {
        display: none;
        text-align: center;
        height: 100%;
    }
    .img-responsive {
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 20%;
        background-size: 100% auto;
        width: 247px;
        height: 183px;
    }
}

@include telefono-landscape() {
    p {
        margin-top: 2%;
    }
    .main {
        display: flex;
        background-color: #fafafa;
    }
    .img-responsive {
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 20%;
        background-size: 100% auto;
    }
    .cert {
        padding: 1.5em 0.75em;
    }
    .grid {
        grid-template-columns: repeat(5, 1fr);
        padding: 60px 60px;
    }
}

@include tablet-landscape() {
    p {
        margin-top: 2%;
    }
    .main {
        display: flex;
        background-color: #fafafa;
    }
    .img-responsive {
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 20%;
        background-size: 100% auto;
    }
    .cert {
        padding: 1.5em 0.75em;
    }
    .grid {
        grid-template-columns: repeat(5, 1fr);
        padding: 60px 60px;
    }
}