.full {
    height: 100%;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.cert {
    padding: .75em;
    display: flex;
    justify-content: space-around;
    background-color: #2C3440;
}

.img-responsive {
    width: 147px;
    height: 143px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 20%;
    background-size: 100% auto;
}

body {
    background-color: #2C3440;
}

@media (min-width: 768px) {
    .img-responsive {
        width: 247px;
        height: 243px;
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 20%;
        background-size: 100% auto;
    }
}
