<app-dashboard></app-dashboard>
<div class="container jumbotron">
    <div class="row">
        <div class="col">
            <img src="../../assets/certificados/bpm.png" class="img-thumbnail" alt="...">
        </div>
        <div class="col">
            <img src="../../assets/certificados/ce.png" class="img-thumbnail" alt="...">
        </div>
    </div>


    <div class="row">
        <div class="col">
            <img src="../../assets/certificados/iqnet.png" class="img-thumbnail" alt="...">
        </div>
        <div class="col">
            <img src="../../assets/certificados/iso.png" class="img-thumbnail" alt="...">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <img src="../../assets/certificados/sfda.png" class="img-thumbnail" alt="...">
        </div>
        <div class="col">
            <img src="../../assets/certificados/tuv.png" class="img-thumbnail" alt="...">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="../../assets/certificados/invima.png" class="img-thumbnail" alt="...">
        </div>
    </div>
    <div class="row">
        <div class="clo"></div>
    </div>
</div>