.full {
    height: 100%;
    width: 100%;
}

.cert {
    padding-top: 2%;
    display: flex;
    justify-content: space-around;
    background-color: #2C3440;
}

body {
    background-color: #2C3440;
}