.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #EDEDED;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.jumbotron {
    background-color: #EDEDED;
}

body {
    height: 100%;
    width: 100%;
}