.centrar {
    display: flex;
    height: 12%;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

p {
    font-weight: 700;
    font-size: 25px;
}

.img-responsive {
    width: 262.5px;
    height: 61.2833px;
}
