<app-dashboard></app-dashboard>
<div class="accordion" id="accordionExample">
    <div class="card border-secondary">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 <h5 class="titulo">GAMMA II</h5>
              </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div style="height: 100%">
                    <div class="centrar">
                        <h6>GAMMA II</h6><img id="imagencita" src="../../assets/logos/start.png" class="ico">
                    </div>
                    <div class="micard">
                        <!-- btn animaccion -->
                        <div class="centrar">
                            <a><img src="assets/logos/iconoanimacion.png" alt="" style="width: 70%"></a>
                        </div>
                        <!-- btn Ficha Tecnica -->
                        <div class="centrar">
                            <a><img src="assets/logos/iconofichatec.png" alt="" style="width: 70%" routerLink="/fichaTecnica"></a>
                        </div>
                        <!-- btn Instructivo Qx -->
                        <div class="centrar">
                            <a><img src="assets/logos/iconoqx.png" alt="" style="width: 70%" routerLink="/viewpdf"></a>
                        </div>
                        <!-- btn Modelados 3D -->
                        <div class="centrar">
                            <a><img src="assets/logos/modelados3.png" alt="" style="width: 70%"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-secondary">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h5 class="titulo">TIBIA II</h5> 
              </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <div style="height: 100%">
                    <div class="centrar">
                        <h6>TIBIA II</h6><img id="imagencita" src="../../assets/logos/start.png" class="ico">
                    </div>
                    <div class="micard">
                        <div class="centrar">
                            <a><img src="assets/logos/iconoanimacion.png" alt="" style="width: 70%"></a>
                        </div>
                        <div class="centrar">
                            <a><img src="assets/logos/iconofichatec.png" alt="" style="width: 70%" routerLink="/fichaTecnica"></a>
                        </div>
                        <div class="centrar">
                            <a><img src="assets/logos/iconoqx.png" alt="" style="width: 70%" routerLink="/viewpdf"></a>
                        </div>
                        <div class="centrar">
                            <a><img src="assets/logos/modelados3.png" alt="" style="width: 70%"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>