.product-child {
    background-color: #fff;
    min-height: 93vh;
}

.side-itemr {
    display: flex;
    width: 100%;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.side-itemr p {
    margin-left: unset;
    font-weight: 700;
    font-size: 28px;
    margin-top: 4%;
    background-color: #2D3942;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 80px;
    background-size: 100% auto;
    padding: 4% 10%;
}

p {
    margin-left: 7%;
    font-weight: 700;
    font-size: 28px;
}

.container {
    padding: .75em;
}


/* The alert message box */

.alert {
    padding: 20px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin-bottom: 15px;
}

.alert.info {
    background-color: #2196F3;
}
