<app-dashboard></app-dashboard>
<ul class="list-group list-group-flush">
    <li class="list-group-item">

        <h5> <img src="../../assets/huesos/femur.png" alt=""> Femur</h5>
    </li>
    <li class="list-group-item">
        <h5><img src="../../assets/huesos/calcaneo.png" alt=""> Calcaneo</h5>
    </li>
    <li class="list-group-item">
        <h5><img src="../../assets/huesos/clavicula.png" alt="">Clavicula</h5>
    </li>
    <li class="list-group-item">
        <h5> <img src="../../assets/huesos/columna.png" alt="">Columna</h5>
    </li>
    <li class="list-group-item">
        <h5><img src="../../assets/huesos/humero.png" alt="">Humero</h5>
    </li>
    <li class="list-group-item">
        <h5> <img src="../../assets/huesos/olecranon.png" alt="">Olecranon</h5>
    </li>
    <li class="list-group-item">
        <h5><img src="../../assets/huesos/pelvis.png" alt="">Pelvis</h5>
    </li>
    <li class="list-group-item">
        <h5><img src="../../assets/huesos/perone.png" alt="">Perone</h5>
    </li>
    <li class="list-group-item">
        <h5><img src="../../assets/huesos/radio.png" alt="">Radio</h5>
    </li>
    <li class="list-group-item">
        <h5><img src="../../assets/huesos/tibia.png" alt="">Tibia</h5>
    </li>
</ul>