#fav {
    height: 70px;
    margin-left: 50%;
}

@media (min-width: 300px)and(max-width: 768px) {
    #fav {
        height: 50px;
        margin-left: 40%;
    }
}

@media (min-width: 1024px)and(max-width: 1025px) {
    #fav {
        height: 50px;
        margin-left: 45%;
    }
}