/* The side navigation menu */

h5 {
    font-weight: 700;
    font-size: 28px;
    margin-top: 4%;
}

.sidenav {
    height: 100%;
    width: 0;
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #EDEDED;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 400px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.side {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ico {
    width: 18%;
    height: 60.4333px;
    margin-left: 3%;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 10%;
    background-size: 100% auto;
}

hr {
    margin: 0px
}

.side-item {
    display: flex;
    /* margin-bottom: 2%; */
    /* margin-top: 2%; */
    width: 100%;
    color: #2D3942;
    /* align-content: space-around; */
    justify-content: stretch;
    align-items: center;
    border-bottom-color: #c3bdbd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.side-itemp {
    display: flex;
    width: 100%;
    color: #2D3942;
    justify-content: stretch;
    align-items: center;
    border-color: #c3bdbd;
    border-style: solid;
    border-width: 1px;
    background-color: #EDEDED;
}

.side-itemp p {
    text-transform: uppercase;
}

.side-itemr {
    display: flex;
    /* margin-bottom: 2%; */
    /* margin-top: 2%; */
    width: 100%;
    color: #2D3942;
    background-color: #EDEDED;
    /* align-content: space-around; */
    justify-content: center;
    align-items: center;
    border-color: #c3bdbd;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    border-width: 1px;
}

.side-itemr p {
    margin-left: unset;
    font-weight: 700;
    font-size: 28px;
    /* height: 100vh; */
    /* right: 0px; */
}

.side-item:active {
    display: flex;
    /* margin-bottom: 2%; */
    /* margin-top: 2%; */
    width: 100%;
    color: white;
    background-color: #2D3942;
    /* align-content: space-around; */
    justify-content: stretch;
    align-items: center;
}

p {
    margin-left: 7%;
    font-weight: 700;
    font-size: 28px;
    /* height: 100vh; */
    /* right: 0px; */
    margin-top: 4%;
}

.navbar {
    background-color: #EDEDED!important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../../assets/logos/menu.png")
}

.productos {
    display: unset;
}

.full {
    height: 100%;
    width: 100%;
}

.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}

.centrado {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: #EDEDED;
}

.list-group-item {
    display: flex;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    color: #2D3942;
    background-color: #EDEDED;
}

@media (min-width: 300px)and(max-width: 768px) {
    #fav {
        height: 50px;
        margin-left: 40%;
    }
}

@media (min-width: 1024px)and(max-width: 1025px) {
    #fav {
        height: 50px;
        margin-left: 45%;
    }
}

@media (min-width: 768px) {
    p {
        margin-top: 2%;
    }
    .ico {
        width: 20%;
        height: 160px;
    }
}