/* You can add global styles to this file, and also import other style files */

body {
    background-color: #EDEDED;
    min-height: 93vh;
}

.no-indicators .carousel-control-next,
.carousel-control-prev {
    display: none;
}
