/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

@import "../../variables";
@import "../../mixins";
.main {
    background-color: #EDEDED;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 400px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.side {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ico {
    width: 18%;
    height: 60.4333px;
    margin-left: 3%;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 10%;
    background-size: 100% auto;
}

hr {
    margin: 0px
}

.side-item {
    display: flex;
    /* margin-bottom: 2%; */
    /* margin-top: 2%; */
    width: 100%;
    color: #2D3942;
    /* align-content: space-around; */
    justify-content: stretch;
    align-items: center;
    border-bottom-color: #c3bdbd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.side-itemp {
    display: flex;
    width: 100%;
    color: #2D3942;
    justify-content: stretch;
    align-items: center;
    border-color: #c3bdbd;
    border-style: solid;
    border-width: 1px;
    background-color: #EDEDED;
}

.side-itemr {
    display: flex;
    /* margin-bottom: 2%; */
    padding-top: 6%;
    width: 100%;
    color: #FFF;
    /* align-content: space-around; */
    justify-content: center;
    align-items: center;
}

.side-item:active {
    display: flex;
    /* margin-bottom: 2%; */
    /* margin-top: 2%; */
    width: 100%;
    color: white;
    background-color: #2D3942;
    /* align-content: space-around; */
    justify-content: stretch;
    align-items: center;
}

p {
    margin-left: 7%;
    font-weight: 700;
    font-size: 28px;
    /* height: 100vh; */
    /* right: 0px; */
    margin-top: 4%;
}

.navbar {
    background-color: #EDEDED!important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../../../assets/logos/menu.png")
}

.productos {
    display: unset;
}

.full {
    height: 100%;
    width: 100%;
}

.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}

.centrado {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: #EDEDED;
}

.list-group-item {
    display: flex;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    color: #2D3942;
    background-color: #EDEDED;
}


/* The alert message box */

.alert {
    padding: 20px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin-bottom: 15px;
}

.alert.info {
    background-color: #2196F3;
}

@include telefono() {
    .main {
        min-height: 100vh;
    }
    .container {
        padding-right: 0;
        padding-left: 0;
    }
    .container-alert {
        padding-right: 15px;
        padding-left: 15px;
    }
    .side-itemr {
        display: flex;
        width: 100%;
        color: #2D3942;
        justify-content: center;
        align-items: center;
        border-color: #c3bdbd;
        border-right-color: rgb(195, 189, 189);
        border-left-color: rgb(195, 189, 189);
        border-style: solid;
        border-right-style: solid;
        border-left-style: solid;
        border-left: 0px;
        border-left-width: 0px;
        border-right: 0px;
        border-right-width: 0px;
        border-width: 1px;
    }
    .side-itemr p {
        margin-left: unset;
        font-weight: 700;
        font-size: 28px;
        right: 0px;
        margin-top: unset;
    }
}

@include telefono-landscape() {
    .main {
        display: flex;
        background-color: #fafafa
    }
    .container {
        display: grid;
        //grid-template-columns: 50% 50%;
        //grid-gap: 10px;
        height: fit-content;
        //padding-top: 8%;
    }
    .side-itemr {
        align-items: unset;
        display: unset;
        text-align: center;
        text-align: center;
        width: 74%;
    }
    .side-itemr p {
        margin-left: unset;
        font-weight: 700;
        font-size: 28px;
        /* height: 100vh; */
        /* right: 0px; */
        text-transform: capitalize;
        background-color: #2D3942;
        color: white;
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 80px;
        background-size: 100% auto;
        padding: 3% 10%;
        margin-top: 0;
    }
    .product-child {
        padding-right: 17%;
        padding-left: 17%;
    }
    .container {
        margin-top: 4%;
        padding-bottom: 0px;
    }
}

@include tablet() {
    .container {
        padding-right: 0;
        padding-left: 0;
        max-width: 900px;
    }
    .container-alert {
        padding-right: 15px;
        padding-left: 15px;
        font-size: 30px;
    }
    .side-itemr {
        padding-top: 2%;
    }
}

@include tablet-landscape() {
    .main {
        display: flex;
        background-color: #fafafa
    }
    .container {
        display: grid;
        //grid-template-columns: 50% 50%;
        grid-gap: 10px;
        height: fit-content;
        padding-top: 8%;
    }
    .container-alert {
        padding-right: 30px;
        padding-left: 30px;
        font-size: 34px;
    }
    .side-itemr {
        align-items: unset;
        display: unset;
        text-align: center;
        text-align: center;
        width: 74%;
    }
    .side-itemr p {
        margin-left: unset;
        font-weight: 700;
        font-size: 28px;
        /* height: 100vh; */
        /* right: 0px; */
        color: #fff;
        text-transform: capitalize;
        background-color: #2D3942;
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 80px;
        background-size: 100% auto;
        padding: 3% 10%;
        margin-top: 0;
    }
    .product-child {
        padding-right: 17%;
        padding-left: 17%;
    }
    .container {
        padding-bottom: 0px;
    }
}
