<app-dashboard></app-dashboard>

<ngb-carousel class="no-indicators">
    <ng-template ngbSlide *ngFor="let slider of sliders">
        <img src="http://167.99.2.33:3000/{{ slider.path_data }}" style="height: 345.6px; width: 100%" alt="{{ slider.name }}">
    </ng-template>
</ngb-carousel>



<div id="logos">
    <div routerLink="/ar" style=" height: 100px; width: 100px"> <img class="full" src="./assets/logos/ar.png" alt=""> </div>
    <div routerLink="/certificado" style=" height: 100px; width: 100px"> <img class="full" src="./assets/logos/certificados.png" alt=""> </div>
    <div routerLink="/product-list" style=" height: 100px; width: 100px"> <img class="full" src="./assets/logos/productos.png" alt=""> </div>
</div>
<div class="logos">
    <div>
        <img class="full" src="./assets/logos/newfix.png" alt="">
    </div>
    <div>
        <img class="full" src="./assets/logos/waston.png" alt="">
    </div>
</div>
