<app-sidebar></app-sidebar>

<body class="jumbotron">
    <div class="card border-secondary  jumbotron " id="micard">
        <video width="100%" height="120%" controls class="videito" class="jumbotron">
            <source src="../../../assets/video/video1.mp4" type="video/mp4">
            Your browser does not support the video tag.
    </video>
        <div class="card-body jumbotron ">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing el</p>
        </div>
    </div>
</body>