/* Pixel 2 */

@media (min-width: 411px)and(max-width: 412px) {
    #micard {
        width: 18rem;
        margin: 10% 10% 20% 12%;
    }
    .videito {
        height: 300px;
    }
}


/* Galaxy S5 */

@media (min-width: 360px)and(max-width: 361px) {
    #micard {
        width: 18rem;
        margin: 10% 10% 20% 6%;
    }
    .videito {
        height: 300px;
    }
}


/* Iphone 5/SE */

@media (min-width: 320px)and(max-width: 321px) {
    #micard {
        width: 18rem;
    }
    .videito {
        height: 300px;
    }
}


/* Iphone 6/7/8 */

@media (min-width: 375px)and(max-width: 376px) {
    #micard {
        width: 18rem;
        margin: 10% 10% 20% 8%;
    }
    .videito {
        height: 300px;
    }
}


/* Iphone X */

@media (min-width: 414px)and(max-width: 415px) {
    #micard {
        width: 18rem;
        margin: 10% 10% 20% 12%;
    }
    .videito {
        height: 300px;
    }
}


/* iPad  */

@media (min-width: 768px)and(max-width: 769px) {
    #micard {
        width: 38rem;
        margin: 10% 10% 20% 7%;
    }
    .videito {
        height: 400px;
    }
}


/* Ipad PRO  */

@media (min-width: 1024px)and(max-width: 1025px) {
    #micard {
        width: 48rem;
        margin: 10% 10% 20% 10%;
    }
    .videito {
        height: 600px;
    }
}