<app-dashboard></app-dashboard>

<body id="html">

    <div class="contenedor">
        <img style="width: 100%" src="assets/logos/PDF.png" />
        <div class="centrado">
            <p class="text">FDA Waston-Columna.pdf</p>
        </div>
    </div>
    <div class="contenedor">
        <img style="width: 100%" src="assets/logos/PDF.png" />
        <div class="centrado">
            <p class="text">FDA Waston-Columna.pdf</p>
        </div>
    </div>
    <div class="contenedor">
        <img style="width: 100%" src="assets/logos/PDF.png" />
        <div class="centrado">
            <p class="text">FDA Waston-Columna.pdf</p>
        </div>
    </div>
    <div class="contenedor">
        <img style="width: 100%" src="assets/logos/PDF.png" />
        <div class="centrado">
            <p class="text">FDA Waston-Columna.pdf</p>
        </div>
    </div>
    <div class="contenedor">

        <div class="centrado">
            <img style="width: 100%" src="assets/logos/PDF.png" />
            <p class="text">FDA Waston-Columna.pdf</p>
        </div>
    </div>

</body>