@import "../../../../../../variables";
@import "../../../../../../mixins";
.pdf-details {
    background-color: #fff;
    min-height: 93vh;
}

.centrado {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 6px;
}

.text {
    margin-left: 15%;
    font-size: 21px;
    /* height: 100vh; */
    /* right: 0px; */
    margin-top: 10%;
    color: white;
}

@include tablet-landscape() {
    p {
        margin-top: 2%;
    }
    .main {
        display: flex;
        background-color: #fafafa
    }
    .containerr {
        padding-top: 4%;
        display: grid;
        grid-template-columns: 50% 50%;
        height: fit-content;
        grid-gap: 12px;
    }
    .ico {
        width: 23%;
        height: 95px;
    }
    .side-itemp {
        border-style: none;
        background-color: transparent;
    }
}